# Build & Distribution output
dist/
.astro/

# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Editor / OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temporary files
.cache
